/* Color Palettes */
:root {
    --blue: #9BB8CD;
    --beige: #FFF7D4;
    --yellow: #EEC759;
    --green: #B1C381;
}

header {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal; 
    background-color: var(--blue);
}

.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}

.yellow {
    background-color: var(--yellow);
}

.beige {
    background-color: var(--beige);
}

