/* Color Palettes */
:root {
    --lightblue: #9BB8CD;
    --beige: #FFF7D4;
    --darkblue: #436b87;
}

header {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal; 
    background-color: var(--beige);
    color: var(--lightblue);
}

body {
    background-color: var(--lightblue);
    color: white;
}

i {
    color: var(--beige);
}
button {
    z-index: 1;
}

.hide {
    display: none
}


.lightblue {
    background-color: var(--lightblue);
}

.five-day {
    border-radius: 5px;
}

.dark-blue {
    background-color: var(--darkblue);
    margin: 1rem;
}

#searchCont {
    border: 2px solid var(--darkblue);
    border-radius: 5px;
}

#searchInput {
    background-color: var(--beige);
}

#description-logo-container {
    display: inline;
}

