/* Color Palettes */
:root {
  --lightblue: #9bb8cd;
  --beige: #fff7d4;
  --darkblue: #436b87;
}

header {
  padding: 20px 0px !important;
  width: 100%;
  font-family: "Pacifico", cursive;
  font-style: normal;
  background-color: var(--beige);
  color: var(--lightblue);
}

body {
  background-color: var(--lightblue);
  color: white;
}

i {
  color: var(--beige);
}
button {
  z-index: 1;
  width: 70px;
}

a {
  text-decoration: none;
}

/* --------------- Classes -------------------- */

.cityName {
  text-align: center;
  font-size: 40pt;
}

.history-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 25px;
}

.history-container h4 {
  width: fit-content;
  float: right;
  text-decoration: underline;
}

.history-list {
  display: flex;
  flex-direction: column;
}

.display-3 {
  font-size: 60pt;
  margin: 0px;
}

.info-header {
  margin: 10px 0px 0px 0px;
}

.info-header-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.row-5 {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  flex-direction: row;
}

.lightblue {
  background-color: var(--lightblue);
  width: fit-content;
}

.btn-primary {
  border: none;
  background-color: var(--darkblue);
}

.five-day {
  border-radius: 5px;
}

.dark-blue {
  background-color: var(--darkblue);
}

.row-5 {
  margin: 0;
}

.col-8 {
  padding: 0;
}

.forecast-block {
  margin: 5px;
  padding: 20px;
  width: fit-content;
  border-radius: 15px;
}

.city-link {
  margin-left: 10px;
}

.main-cont {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 50px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.search {
  padding: 0px;
}

.search-for-city {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.search-for-city h2 {
  margin: 0px;
  font-size: 40pt;
}

.search-field {
  margin: 0px 20px 40px 0px;
  height: 45px;
  width: 350px;
}

/* ------------------ ID's --------------------- */

#description-logo-container {
  display: flex;
  align-items: center;
}

#forecast {
  display: flex;
  justify-content: center;
}

#sweater-cont {
  padding: 0.7rem;
  border-radius: 50px;
  position: relative;
  top: 1.3rem;
  background-color: var(--beige);
  width: fit-content;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sweater-icon {
  width: 60px;
  height: 60px;
}

#todaysInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: var(--darkblue);
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  border-radius: 15px;
}

#searchInput {
  background-color: var(--beige);
}

#fiveDayTitle {
  display: flex;
  justify-content: center;
}

#weekForecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#weekForecastTitle {
  margin-top: 20px;
  text-align: center;
}

.hideMe {
  display: none !important;
}

@media screen and (max-width: 860px) {
  .main-cont {
    padding: 20px;
  }


  .display-3 {
    font-size: 40pt;
    padding-top: 5px;
  }

  .search-for-city {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-field {
    margin: 0px 0px 40px 0px !important;
    height: 45px;
  }

  .search-for-city h2 {
    font-size: 35pt;
    margin-bottom: 10px;
  }

  .history-container {
    display: none;
  }

  #fiveDayTitle h2 {
    font-size: 30pt;
  }
}

@media screen and (max-width: 450px) {
  #todaysInfo {
    width: 400px;
  }

  #searchCont h2 {
    font-size: 18pt;
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .search-for-city {
    margin-left: 15px;
    align-items: center;
  }

  .history-container {
    display: none !important;
  }

  .forecast-block {
    width: 170px;
  }

  .search-field {
    margin: 0px 10px 40px 0px !important;
    height: 45px;
    width: 250px;
  }
}
